.destination_information{
    width: 32%;
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 3em;
    font-family: "Anton", sans-serif;
    color: #fff;
    right: 35%;
    top: 64%;
    gap: 20px;

    //  @include small{
    //     left: 10%;
    //     font-size: 2.5em;
    //  }

    // & .destination_hotel{
    //     align-self: center;
    // }

    // @include mobile{
    //     right: 85%;
    // }
  }